<?xml version="1.0"?>
<robot name="simple_robot">
	
<!-- Definición de materiales -->
	
  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  
  <material name="l_gray">
    <color rgba="0.4 0.4 0.4 1"/>
  </material>

<!-- Definición de links y joints -->

<!-- link base, primer elemento y primera articulación -->
  <link name="base_link">
    <visual>
      <geometry>
		<box size="1 1 0.5"/>
      </geometry>
      <material name="white"/>
      <origin xyz="0 0 0.25"/>
    </visual>
  </link>

  <link name="link1_2">
    <visual>
      <geometry>
        <cylinder length="0.5" radius="0.25"/>
      </geometry>
      <material name="blue"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

  <joint name="J1" type="continuous">
    <parent link="base_link"/>
    <child link="link1_2"/>
    <origin xyz="0 0 0.75"/>
     <axis xyz="0 0 1" />
  </joint>
  
 <!-- Segundo elemento (1-2) y segunda articulación -->
 
  <link name="link2_1">
	  <visual>
		  <geometry>
			  <cylinder length="1" radius="0.25"/>
		  </geometry>
		  <material name="l_gray"/>
		  <origin rpy="0 0 0" xyz="0 0 0"/>
	  </visual>
  </link>
  
  <link name ="link2_2">
	 <visual>
		 <geometry>
			 <box size="2 0.25 0.25"/>
		 </geometry>
		 <material name="l_gray"/>
		 <origin rpy="0 0 0" xyz="-1 0 0"/>
	 </visual>
 </link>

  <joint name="EL2" type="fixed">
	<parent link="link2_1"/>
    <child link="link2_2"/>
    <origin rpy="0 0 0" xyz="2 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>
  
  <joint name="J2" type="continuous">
	<parent link="link1_2"/>
    <child link="link2_1"/>
    <origin rpy="1.570796 0 0" xyz="0 0 0.5"/>
    <axis xyz="0 0 1"/>
  </joint>
 



</robot>
